# Bibliotheek-opdrachten(1)

Voor deze opdrachten gebruik je de bibliotheek-database.
Je moet eerst deze database laden in SQLite.

In [1]:
%LOAD data/bibliotheek.db

:::{exercise}
:label: recente-schrijvers

Welke schrijvers zijn geboren na 1960? Geef de voornaam, tussenvoegsel, achternaam, en geboortejaar.

* variatie: maak één kolom, `NAAM`, met de volledige naam van de schrijver, in plaats van de drie eerste kolommen. 
    * Hint: zie {ref}`string_concatenatie` en {ref}`rekenen-met-null`
:::

In [2]:
SELECT ...

Error: near "FROM": syntax error

:::{exercise}
:label: niet-nederlandse-boeken

Welke boeken vallen niet in de rubriek "nederlands"? Geef titel en rubriek van de eerste 10 boeken, in alfabetische volgorde.

* Variatie: geef titel, auteur (als 1 string, met kolomnaam: AUTEUR), en rubriek
:::

In [3]:
SELECT ...

Error: near "FROM": syntax error

:::{exercise}
:label: boeken-rubrieken

In welke (unieke) rubrieken worden de boeken ingedeeld? Geef deze in alfabetische volgorde.
:::

In [4]:
SELECT ...

Error: near "FROM": syntax error

:::{exercise}
:label: boeken-gerard-reve

Welke boeken van Gerard Reve zijn er in de bibliotheek?
(Geef titel, jaar van publicatie, en naam van de auteur.)
:::

In [5]:
SELECT ...

Error: near "FROM": syntax error

:::{exercise}
:label: leerlingen-boete

Welke leerlingen hebben een boete van meer dan 3,50 euro gehad?
(Geef voornaam, tussenvoegsel, achternaam, en boete; geef alleen de eerste 10, op alfabetische volgorde van achternaam.)

(Kun je dit met een enkele query beantwoorden? Lijkt mij niet... Zeker niet als je de namen van de leerlingen wilt vermelden.) Bovendien moet je iets specifieker zijn: een boete voor een enkele uitlening.

(Ik zou het bedrag wat groter nemen, dat maakt het resultaat wat overzichtelijker. Maar dan is de lijst nog steeds erg lang!)

* Variatie: wat is de maximale boete die uitgedeeld is? welke leerlingen hebben deze boete gehad?
:::

In [6]:
SELECT ...

Error: near "FROM": syntax error

:::{exercise}
:label: totaal-boete
Maak een top-5 van de leerlingen die *in totaal* het grootste bedrag aan boetes betaald hebben.
:::

In [7]:
SELECT ...

Error: near "FROM": syntax error

## Oefenen

Oefen hieronder met je eigen queries

In [ ]:
SELECT ...